@import '../../layout/style/globals';

.sectionPadding {
	padding: 7.5rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.line {
    opacity: 1;
}

.textWrapper {
	//background-color: rgb(251, 251, 251);
	border: 1px solid #f0f0f0;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.05);
	border-radius: 1rem;
	padding: 2rem 2rem;
}