@import '../style/globals';

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    // background-color: #f2f7fa;
   
    // .paddingRight {
    //     padding-right: 0.5rem;
    // }
    

    .logo {
        font-weight: 600;
        font-size: 1.5rem;
        padding: 0.5rem 0;
        display: inline-block;
        color: $blue;
        margin-right: 0.5rem;
        padding-left: 0;

        @include mq($from: lg) {
            padding: .75rem 0.75rem;
            padding-left: 0;
        } 
    }

    .navbarInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4.3125rem;
        padding: 0.5rem 0;
        // background-color: white;
        
        position: relative;
        // width: 100%;
        // margin: 0;
        // box-shadow: 0.5rem 0.2rem 1rem rgba(0, 0, 0, 0.034);
        // border: 1px solid rgb(245, 245, 245);

        @include mq($until: lg) {
            align-items: flex-start;
            justify-content: flex-end;
        }
        .disabledLink {
            pointer-events: none;
        }
        .col {
            width: auto;
            flex: 1;

            &.menuItems {
                flex: 2;
                // background-color: #f2f7fa;

                @include mq($until: lg) {
                    flex: 0;
                    padding-bottom: 1rem;
                } 

                .pageLinks {
                    font-weight: 400;
                    color: $blue;

                    &.active {
                        font-weight: bold;
                    }

                }
            }

            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
            
            &>ul {
                // position: fixed;
                top: 0.9375rem;
                right: calc((100vw - 87.5rem) / 2 + 0.9375rem);
                z-index: 10;
                box-shadow: none;
                transform: translateZ(0);

                @include mq($from: lg) {
                    padding: 0.75rem;
                    
                }
                @media screen and (max-width: 87.5rem) {
                    right: 0.9375rem;
                }
                
                    @include mq($until: lg) {
                        flex-direction: column;
                        align-items: center;
                        height: 3rem;
                        width: 3rem;
                        // transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                        max-width: calc(100vw - 1.875rem);

                        ul {
                            padding-top: 1rem;
                            flex-direction: column;
                            width: 100%;
                            align-items: center;

                        }

                        li {
                            padding: 0.5rem 0 !important;
                            transform: scale(0);
                            transform-origin: left;
                            opacity: 0;

                        }
                        .navbarToggle {
                            transform: translate(0rem, 0rem);
                            position: absolute;
                            right: 0;
                            opacity: 1;
                            // padding: 0 !important;
                           
                            // top: 0;
                            // right: 0;
                            // left: 0;
                            line-height: 0;

                            button {
                                padding: 1rem 0;
                                border: none;
                                // outline: none;
                                display: block;
                                background-color: transparent;
                                // padding: 0 !important;
                            }
                            
                            button .toggleIcon{
                                height: 3px;
                                position: relative;
                                display: block;
                                width: 1.6rem;
                                background-color: $black;
                                padding: 0;
                                border-radius: 5px;


                                span {
                                    display: none;
                                }

                                &:focus {
                                    border: none;
                                    outline: none;
                                }
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: -0.5rem;
                                    right: 0;
                                    height: 3px;
                                    width: 80%;
                                    background-color: inherit;
                                    transition: all 0.2s ease;
                                    border-radius: 5px;
                                    // box-shadow: 0 0.44rem 0 0 $blue;
                                }

                                &::after {
                                    content: '';
                                    position: absolute;
                                    top: .48rem;
                                    right: 0;
                                    height: 3px;
                                    width: 60%;
                                    background-color: inherit;
                                    transition: all 0.2s ease;
                                    border-radius: 5px;
                                }
            
                            }

                        }

                        &.visible {
                            // padding: 1rem 1.5rem;
                            width: 100vw;
                            height: auto;

                            &>li {
                                padding: 0.7rem 2rem !important;

                                a {
                                    font-size: 1.3em;
                                    transition: all 0.2s ease;
                                }
                                
                                // &:first-child {
                                //     margin-bottom: 1rem !important;
                                // }
                            }

                            li {
                                transform: scale(1);
                                opacity: 1;
                                // transition: all 0.2s ease;
                                

                                &.navbarToggle {
                                    padding: 1rem 0.4rem !important;
                                    position: absolute;
                                    top: -3.9rem;
                                    right: -0.4rem;
                                    transition: transform 0.2s ease;

                                    button .toggleIcon {
                                        background-color: transparent;
                                        transform: rotate(-45deg)!important;
                                        transition: all 0.2s ease;
                                    }
                                    
                                    button .toggleIcon::before {
                                        transform: rotate(90deg)!important;
                                        top: 0;
                                        width: 100%;
                                        transition: all 0.2s ease;
                                    }

                                    button .toggleIcon::after {
                                        transform: rotate(90deg)!important;
                                        top: 0;
                                        width: 100%;
                                        transition: all 0.2s ease;

                                    }
                                }
                            }
                        }
                    }   

                li {
                    padding: 0 1rem;

                    &:last-child {
                        padding-right: 0;
                    }
                    
                }
                &>li:last-child {
                    padding-right: 0;
                }
            }
        }
        
    }

    &.relativePos {
        position: relative;

        .navbarInner {
            position: relative;
        }
    }
}
.ctaWrapper {

    @include mq($until: lg) {
        margin-bottom: 2rem;
    }

    .cta {
        
        // min-width: 8rem;
        // min-height: 3rem;
        // color: white;
        padding: 0.5rem 1.5rem;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;

        &:hover {
            color: white;
        }

        &.modern {
            border-radius: 5rem;
        }
        &.classic {
            border-radius: 0.5rem;
        }

        
    }
}
