@import '../../layout/style/globals';

.headerWrapper {
    // display: flex;
    // min-height: 500px;
    // overflow: hidden;
    // padding-top: 2rem;
    // padding-bottom: 4rem;
    // background-color: #f2f7fa;
    margin-bottom: 7.5rem;
    padding: 2rem 0;
    position: relative;

    @include mq($until: md) {
        padding-top: 0rem;
    }

    .imageWrapper {
        // box-shadow: 0.5rem 0.4rem 1.1rem rgb(214, 214, 214);
        // border: 1px solid rgb(236, 236, 236);
        // border-radius: 0rem 2rem 2rem 0rem;

        // @include mq($until: md) {
        //     border-radius: 2rem!important;
        //     margin: 1vw 7vw;
        // }
        
    }
    .headerInner {
        margin-bottom: -7.5rem;
        position: relative;
        z-index: 1;
    }

    .image {
        object-fit: cover;
        min-height: 25rem;
        width: 100%;
        border-radius: 2rem;
        box-shadow: 0.5rem 0.4rem 1.1rem rgb(214, 214, 214);
        // border: 1px solid rgb(236, 236, 236);
        // border-radius: 0rem 2rem 2rem 0rem;

        @include mq($until: md) {
            border-radius: 2rem!important;
            // height: 300px;
        }
    }
    .svg {
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        z-index: 0;
        left: 0;
    }

    .textWrapper {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        padding: 0rem 2.5rem;
        margin-bottom: 2.5rem;
        text-align: left;
        word-break: break-word;

        @include mq($until: lg) {
            text-align: center;
            display: block;
            margin: auto;
            margin-bottom: 2.5rem;
        }
    }

    .button {
        border: none;
        border-radius: 5rem;
        padding: 0.75rem 1.5rem;
        font-family: 'Titillium Web';
        font-weight: bold;
        font-size: 1.2rem;
        max-width: 15rem;

        &:hover {
            text-decoration: underline;
        }
    }

    .headerContent {
        position: relative;
        padding: 10rem 0;
        z-index: 0;
    }
}
