@import '../../layout/style/globals';

.contactWrapper {
    flex-direction: row-reverse;
}

.input {
    min-height: 3.5rem;
    border-radius: 0.3rem;
    border-width: 1px;
    background-color: white;
    border-color: rgb(224, 224, 224);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.034);
    margin-bottom: 1.2rem;
    font-family: 'Titillium Web', sans-serif;
    color: black !important;

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        border-color: rgb(224, 224, 224);
    }
}
.button {
    border-radius: 5px;
    min-width: 8rem;
    min-height: 3rem;
    color: white;
    padding: 0.5rem 2rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}

.sectionPadding {
	padding: 4rem;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.bgGrey {
    background-color: #F7F7F7;
}

.phoneIcon {
    height: 3rem;
    padding-right: 0.5rem;
}


