@keyframes main-fade-in {
    from {opacity: 0; transform: translateY(2rem);}
    to {opacity: 1; transform: translateY(0);}
}

main {
    animation: main-fade-in 0.2s ease;
    padding-top: 4.3125rem;
}
