@import "~baseguide/scss/baseguide/05-utilities/position";

// elements order //
.row.reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
	flex-direction: row-reverse; }
	
.col.reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }


    // positions //
@include loop-breakpoints {
	.start-#{$breakpoint} {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		-webkit-justify-content: flex-start;
		-moz-justify-content: flex-start;
		justify-content: flex-start;
	}

	.center-#{$breakpoint} {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		justify-content: center;
	}

	.end-#{$breakpoint} {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		justify-content: flex-end;
	}

	.top-#{$breakpoint} {
		-webkit-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		align-items: flex-start;
	}

	.middle-#{$breakpoint} {
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		align-items: center;
	}

	.bottom-#{$breakpoint} {
		-webkit-box-align: end;
		-ms-flex-align: end;
		-webkit-align-items: flex-end;
		-moz-align-items: flex-end;
		align-items: flex-end;
	}

	.around-#{$breakpoint} {
		-ms-flex-pack: distribute;
		-webkit-justify-content: space-around;
		-moz-justify-content: space-around;
		justify-content: space-around;
	}

	.between-#{$breakpoint} {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		justify-content: space-between;
	}
	.stretch-#{$breakpoint} {
		align-items: stretch;
	}
	.align-between-#{$breakpoint} {
		align-content: space-between;
	}
	.col-auto-#{$breakpoint} {
		width: auto;
	}
	.first-#{$breakpoint} {
		order: -1;
	}
	.last-#{$breakpoint} {
		order: 1;
	}
	.block-#{$breakpoint} {
		display: block;
	}
	.flex-#{$breakpoint} {
		display: flex;
	}
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.row:after {
	content: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.align-center {
	align-items: center;
}
.pos-static {
	position: static;
}
.container-fluid {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}
.flex-wrap {
	flex-wrap: wrap;
}
.relative {
	position: relative;
}
