@import '~baseguide/scss/baseguide/05-utilities/space';

.section-padding-big {
    padding: 7.5rem 0;
}
.space-small-xs-up {
    margin-bottom: 1rem;
}

.space-xs-down {
    margin-top: 1.875rem !important
}