@import '~baseguide/scss/baseguide/05-utilities/text';


p {
    font-family:'Roboto Condensed', Georgia;
}

a {
	font-family:'Roboto Condensed', Georgia;
}

@include loop-breakpoints {

  .text-center-#{$breakpoint} {
		text-align: center!important;
	}
	.text-left-#{$breakpoint} {
		text-align: left!important;
	}
	.text-right-#{$breakpoint} {
		text-align: right!important;
	}
}


.text-bold {
	font-weight: 700;
}

strong {
	font-weight: bold;
}

.text-decoration-none {
	text-decoration: none;
	color: $black;

	&:hover, &:active {
		color: $black;
	}
}

b {
	font-weight: 700;
}

