
.input {
    min-height: 3rem;
    border-radius: 5rem;
    border-width: 1px;
    background-color: white;
    border-color: rgb(224, 224, 224);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.034);
    margin-bottom: 1.2rem;
    font-family: 'Titillium Web', sans-serif;
    color: black !important;

    &::placeholder {
        padding-left: 0.6rem;
    }

    &:last-child {
        margin-bottom: 0;
        border-radius: 0.6rem;

        &::placeholder {
            padding-top: 0.4rem;
        }
    }

    &:focus {
        border-color: rgb(209, 209, 209);
        box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.1);
        transition: all 0.2s;
    }
}

.button {
    border-radius: 5rem;
    min-width: 8rem;
    min-height: 3rem;
    color: white;
    padding: 0.5rem 2rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}
