.Modal {
    position: fixed;
    z-index: 500;
    background-color: #F7F7F7;
    width: 90%;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.034);
    padding: 2rem 1rem;
    left: 5%;
    top: 20%;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    border-radius: 0.3rem;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
