@import '../../layout/style/globals';

.sectionPadding {
    padding: 7.5rem 0;
    margin: 4rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.service {
    position: relative;
    display: inline-flex;
    padding: 1.5rem 2rem;
    margin: 0;
}


.bgSway {
    transform: skewY(1.5deg);
    border-top: 1px solid #f1f5f8;
	border-bottom: 1px solid #f1f5f8;
}

.content {
    transform: skewY(-1.5deg);
}
    

.checkmark {
    width: 1.4rem;
    position: absolute;
    left: 0.3rem;
    top: 48%;
    transform: translateY(-50%);
    height: 2rem;
}
