.img-full {
    width: 100%;
    max-width: 100%;
}
.img, .gatsby-resp-image-image {
    border-radius: 0.5rem;
    max-width: 100%;
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.15))!important;
}

.icon-position-center {
    left: 20%!important;
    max-width: 60%!important;
    margin-bottom: 2rem;
    filter: none!important;

    @include mq($until: md) {
        left: 35%!important;
        max-width: 30%!important;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
}