@import '../../layout/style/globals';

.sectionPadding {
	padding: 4rem;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.service {
    position: relative;
    display: inline-flex;
    padding: 1.5rem 2rem;
    margin: 0;
}

.bgGrey {
    background-color: #F7F7F7;
}

.checkmark {
    width: 1.4rem;
    position: absolute;
    left: 0.3rem;
    top: 48%;
    transform: translateY(-50%);
    height: 2rem;
}
