@import '../../layout/style/globals';

.contactWrapper {
    flex-direction: row-reverse;
}

.formWrapper {
    padding: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0.5rem 0.2rem 1.1rem rgb(214, 214, 214);
    border: 1px solid rgb(236, 236, 236);
}

.input {
    min-height: 3rem;
    border-radius: 5rem;
    border-width: 1px;
    background-color: white;
    border-color: rgb(224, 224, 224);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.034);
    margin-bottom: 1.2rem;
    font-family: 'Titillium Web', sans-serif;
    color: black !important;

    &::placeholder {
        padding-left: 0.6rem;
    }

    &:last-child {
        margin-bottom: 0;
        border-radius: 0.6rem;

        &::placeholder {
            padding-top: 0.4rem;
        }
    }

    &:focus {
        border-color: rgb(209, 209, 209);
        box-shadow: 5px 5px 5px rgba(41, 41, 41, 0.1);
        transition: all 0.2s;
    }
}

.button {
    border: none;
    // min-width: 8rem;
    // min-height: 3rem;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    font-family: 'Titillium Web';
    font-weight: bold;
    font-size: 1.2rem;
    max-width: 15rem;

    &:hover {
        text-decoration: underline;
    }
}

.sectionPadding {
	padding: 7.5rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.bgGrey {
    background-color: #F7F7F7;
}

.phoneIcon {
    height: 4rem;
    // padding-right: 0.5rem;
    padding-bottom: 0.6rem;
    display: block;
    margin: auto;
}

.conpanyContact {
    padding-right: 4rem;
}


