// @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

// @font-face {
// 	font-family: 'Titillium Web', sans-serif;
// 	src: url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
// 	font-display: swap;
// }

@font-face {
	font-family: 'Roboto Condensed', sans-serif;
	src: url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
	font-display: swap;
}

$black: rgb(0, 0, 0);
$shadowBlack: rgba(0, 0, 0, 0.027);
$red: #E50034;
$pink: #F7BCB8;
$lightpink: lighten($pink, 8);
$green: #8B9E55;
$lightgreen: #BFE0D4;
$white: #fff;
$blue: #0283f1;

$colors: (
	shadowBlack: $shadowBlack,
	black: $black,
	red: $red,
	pink: $pink,
	lightpink: $lightpink,
	green: $green,
	lightgreen: $lightgreen,
	white: $white,
	blue: $blue
);

$font-family-base: 'Roboto Condensed';
$headings-font-family: 'Roboto Condensed';

@import '~baseguide/scss/baseguide/00-settings/settings';
