@import '../../layout/style/globals';

.sectionPadding {
	padding: 7.5rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.image {
    border-radius: 1rem;
    width: 100%;
    height: auto;
    box-shadow: 0.3rem 0.1rem 0.9rem rgb(206, 206, 206);
}

.collapsedText {
    max-height: 10rem;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    word-break: break-word;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8rem;
    }
}

.btnRound {
	background-color: transparent !important;
	padding: 1rem;
	position: relative;
    transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-width: 0px;

    .p {
        padding-left: 1rem;
        opacity: 0;
        transition: ease-in-out 0.2s;
        color: #0283f1;
    }

	&:hover {
        transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        
        .p {
            padding-left: 2rem;
            opacity: 1;
            transition: ease-in-out 0.2s;
            color: #0283f1;
        }
	}

	.expand {
		position: absolute;
		top: 0.7rem;
		left: 0;
        width: 2rem;
        height: 2rem;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31'%3E%3Cg transform='translate(-1748.5 -3698)'%3E%3Cline x2='29' transform='translate(1749.5 3713.5)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'/%3E%3Cline x2='29' transform='translate(1764 3699) rotate(90)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
		background-size: 60%;
		background-position: center center;
		background-repeat: no-repeat;
        transition: transform 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
        border: 1px solid black;
        border-radius: 50%;
	

		&:hover {
			transform: rotate(90deg);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31'%3E%3Cg transform='translate(-1748.5 -3698)'%3E%3Cline x2='29' transform='translate(1749.5 3713.5)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'/%3E%3Cline x2='29' transform='translate(1764 3699) rotate(90)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
		}
		
    }
    
	.expand.expanded {
		transform: rotate(135deg);
	}
}

.hidden {
    opacity: 0;
}

