@import '../../layout/style/globals';

.sectionPadding {
	padding: 7.5rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.embed {
	border-radius: 1rem;
	box-shadow: 0.5rem 0.4rem 1.1rem rgb(214, 214, 214);
}
