
.headerWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    .headerImage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        filter: brightness(50%);
        z-index: 0;
    }

    button {
        color: white;
        border: none;
        border-radius: 0.25rem;
        padding: 0.75rem 1.5rem;
        font-family: 'Titillium Web';
        font-weight: bold;
        display: block;
        margin: auto;
        font-size: 1.4rem;

        &:hover {
            text-decoration: underline;
            background-color: darken(black, 20%);
        }
    }

    .headerContent {
        position: relative;
        padding: 10rem 0;
        z-index: 0;
        word-break: break-word;
    }
}
