@import '../../layout/style/globals';

.phoneIcon {
    display: block;
    margin: auto;
    width: 2rem;
}

.emailIcon {
    display: block;
    margin: auto;
    width: 3.5rem;
    padding-bottom: 1vw;
    padding-top: 0.7rem;
}

.emailWrapper {
    padding-top: 1.5vh;

    @include mq($until: md) {
        padding-top: 3rem;

    }
}

.sectionPadding {
	padding: 4rem;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.bgGrey {
    background-color: #F7F7F7;
}

