@import '../../layout/style/globals';

.phoneIcon {
    display: block;
    margin: auto;
    width: 2rem;
}

.emailIcon {
    display: block;
    margin: auto;
    width: 3.5rem;
    padding-bottom: 1vw;
    padding-top: 0.7rem;
    //filter: brightness(100%)!important;
}

.emailWrapper {
    padding-top: 1.5vh;
    transform: skewY(-1.5deg);

    @include mq($until: md) {
        padding-top: 3rem;
    }
}

.phoneWrapper {
    transform: skewY(-1.5deg);
}

.sectionPadding {
    padding: 7.5rem 0;
    margin: 4rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.bgImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #f1f5f8;
	border-bottom: 1px solid #f1f5f8;
    transform: skewY(1.5deg);
}

