.image {
    // border-radius: 5px;
    width: 100%;
    height: auto;

  
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 1rem!important;
    padding: 0.5rem!important;
}
