@import '../../layout/style/globals';

.sectionPadding {
	padding: 7.5rem 0;

	@include mq($until: md) {
		padding: 4rem 1rem;
	}
}

.footer {
	border-top: 1px solid #f1f5f8;
	border-bottom: 1px solid #f1f5f8;
}

